.navbar-inverse {
  background-color: #3885bd !important;
  border-color: #3885bd !important;
}
.navbar-inverse .navbar-brand {
  color: #ffffff !important;
}
input.form-control {
  font-size: 40px;
  height: 60px;
  width: 600px;
}
