@model Shortener.Web.ViewModel.ShortUrlViewModel

@{
    ViewBag.Title = "Details";
}

<h1>Links to share</h1>
<br />

<div class="form-horizontal">
    
    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(x => x.RedirectUri, new { htmlAttributes = new { id = "plain", @class = "form-control", @readonly = "readonly", onclick = "copyToClipboard('plain')" } })
        </div>
    </div>
    
    <br />

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(x => x.BbCode, new { htmlAttributes = new { id = "bbcode", @class = "form-control", @readonly = "readonly", onclick = "copyToClipboard('bbcode')" } })
        </div>
    </div>
    
    <br/>

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(x => x.Html, new { htmlAttributes = new { id = "html", @class = "form-control", @readonly = "readonly", onclick = "copyToClipboard('html')" } })
        </div>
    </div>
    
    <div id="snackbar">Short link was copied to clipboard</div>

</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/main.min.js"></script>
