<div class="mastfoot">
    <div class="inner">
        <p>Created with <a href="http://asp.net">ASP.NET MVC</a> & <a href="http://getbootstrap.com">Bootstrap</a> by <a href="http://d-osin.ru">Dmitry Osin</a>.  &copy; @DateTime.Now.Year </p>
    </div>
</div>