<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"><i class="glyphicon glyphicon-scissors"></i> @Html.ActionLink("Shortener ", "Create", "Home", new { area = "" }, new {style = "text-decoration: none; font-size: 30px; font-weight: bold; text-transform: uppercase;" })</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active">@Html.ActionLink("Create new ", "Create", "Home", new {area = ""}, null)</li>
                <li>@Html.ActionLink("About Me ", "AboutMe", "Home", new { area = "" }, null)</li>
            </ul>
        </nav>
    </div>
</div>